﻿@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');

body {
    font-family: "Roboto", sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}


h1,h2,h3,h4,h5,h6{
    opacity:0.8 !important;
}
html, body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*.navbar-header {
    margin-top: -5px;
}



.navbar-nav li{
    height:20px;
}
    */
.navbar-brand > img {
    margin-top: -5px;
    margin-right: 5px;
    width: 40px;
}

/*      Youth Employment Portal Custom CSS. Names should start with "yep"     ---------------------*/
.yep-btn {
    text-align: center;
    padding: 5px 15px 5px 15px;
    background: #3BC9FF;
    color: #0b368c !important;
    margin: 0px 0px 0px 10px;
    border-radius: 40px;
    min-width: 100px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#yep_div_resources {
    height: 1200px;
    width: 140%;
    right: 30%;
    position: relative;
    margin-top: 280px;
    margin-left: 5%;
}



.navbar-nav .yep-btn {
    margin-top: 12px !important;
}

.navbar-inverse {
    border: none !important;
}

.body-content {
    min-height: 768px;
    text-align: center;
}

footer {
    padding-top: 20px;
    min-height: 350px;
    background: black;
    color: #9E9E9E;
}


a:link {
    color: #4A4A4A;
}

a:visited {
    color: #4A4A4A;
    text-decoration: none;
}


a:hover {
    color: #4A4A4A;
    text-decoration: none;
}

footer {
    margin-bottom: -100px;
    color: white;
}

footer h3 {
    color: white;
}

.homepage-bg {
    background: url('~/Assets/Youth.png');
    /*filter: brightness(30%);*/
    opacity: 0.789900;
    height: 95%;
    width: 100%;
    position: absolute;
    background-size: cover;
    zoom: 110%;
    left: 0;
    z-index: -1;
    top: 0;
}

select[name=ResourceList] {
    color: grey;
    height: 35px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

#agencyEvent_ResourceId {
    color: grey;
    height: 33px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-left: 15px;
    width: 100%;
}

#home-body {
    margin-top: 7em;
}

.white-text {
    color: white !important; 
}

form.left-align {
    /*display: inline-block;*/
    text-align: left;
}

form .form-group {
    margin-left: 40px !important;
}

form > button {
    margin-left: 30px;
}

.cell {
    float: left;
    height: 15vw;
    margin: 1%;
    width: 30%;
}

#resource-section {
    margin: -1%;
    padding: 20px;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Events Page*/
#event-body {
    margin-top: 50px;
}

.h4_subtitle {
    text-align: center;
}


select[name=Name] {
    color: grey;
    height: 30px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#event-form {
    margin-left: 200px;
}

#btn-submit-form {
    float: left;
    margin-left: 80px;
}


@media screen and (max-width: 812px) {
    .body-content{
        width: 100%;
        height: 100%;
    }

    #postalCode {
        width: 90%;
    }

    select[name=ResourceList] {
        width: 90%;
        float: left;
    }

    #submitForm {
        margin-top: 20px;
    }

    .homepage-bg {
        height: 500px;
    }

    #myCarousel{
        margin-top: 5%;
    }

    #yep_div_resources {
        width: 100%;
        margin: auto;
        right: 0%;
    }

    .resource_image {
        height: 80%;
        width: 80%;
    }

    .resource_description{
        font-size: 90%;
    }

    .resource_header{
        font-size: 120%;
    }

    form:not(#searchAgencyForm):not(#searchEventForm) .form-group {
        margin-left: 5px !important;
    }


}

*{
  box-sizing: border-box
}
html,body{
  margin: 0;
}
main {
  position: relative;
}
main > div {
    padding: 16px;
}


@media(min-width:768px){
    html,body,main{
        height: 100%;
    }
    main > div {
        position: absolute;
    }
    main > div:nth-of-type(1), main >
    div:nth-of-type(2), main >
    div:nth-of-type(3) {
        top: 0;
        bottom: 66.6666%
    }
    main > div:nth-of-type(4), main >
    div:nth-of-type(5), main >
    div:nth-of-type(6) {
        top: 33.3333%;
        bottom: 33.3333%;
    }
    main > div:nth-of-type(7), main >
    div:nth-of-type(8), main >
    div:nth-of-type(9) {
        top: 66.6666%;
        bottom: 0;
    }
    main > div:nth-of-type(2), main >
    div:nth-of-type(4), main >
    div:nth-of-type(7) {
        left: 0;
        right: 66.6666%
    }
    main > div:nth-of-type(3), main >
    div:nth-of-type(6), main >
    div:nth-of-type(9) {
        right: 0;
        left: 66.6666%
    }
    main > div:nth-of-type(1), main >
    div:nth-of-type(5), main >
    div:nth-of-type(8) {
        left: 33.3333%;
        right: 33.3333%;
    }


}