﻿@model PluggedInDataAccess.AspNetUser
@{
    ViewBag.Title = "DisableUser";
}

<h2>Lock User @Model.Email</h2>

@if(Model.LockoutEndDateUtc > DateTime.Now)
{
    <h3>This user has already locked out until @Model.LockoutEndDateUtc</h3>
}

<div class="row">
    <div class="col-md-12 col-lg-offset-2">
        @using (Html.BeginForm("DisableUser", "Admin", null, FormMethod.Post, new { @class = "form-horizontal left-align", role = "form" }))
        {
            <br />
            <br />



            <div class='col-md-5' >
                <label for="eventEndDate" style="text-align: center; clear: both; float: left; margin-right: 12%; left:5%; position: relative;">Lock the user until</label>
                <div class="form-group">
                    <div class='input-group date' id='endDate'>
                        <input type='datetime' class="form-control" name="EndDate" id="EndDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Submit" class="btn yep-btn" />
                </div>
            </div>
        }
    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>

    $(function () {
        $('#endDate').datetimepicker({
            useCurrent: true,
            minDate: new Date()
        });
    });
</script>