﻿@model PluggedInPortal.Models.Metrics

<style>
    .card {
        background: #fff;
        border-radius: 10px;
        display: inline-block;
        min-height: 200px;
        margin: 1rem;
        position: relative;
        width: 300px;
    }

    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

        .card-1:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            cursor:pointer;
        }

    .card-2 {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .card-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .card-4 {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    h3{
        font-size:24px;
    }

    h1{
        font-size:70px;
        font-weight:bold;
        font-family:Consolas;
    }
</style>


<br />
<div class="container">
    <h2> Dashboard</h2>
    <br /><br />
          <div class="row">
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Admin/ViewUsers')">
                      <h3>Total Users</h3>
                      <h1>@Model.TotalUsersCount</h1>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Admin/ViewPendingApplications')">
                      <h3>Agency Applications Pending Approval</h3>
                      <h1>@Model.PendingApprovalCount</h1>
                  </div>
              </div>
              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Admin/ViewRejectedApplications')">
                      <h3>Rejected Agency Applications</h3>
                      <h1>@Model.ApplicationsRejectedCount</h1>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Admin/ViewAllEvents')">
                      <h3>Total Events Registered</h3>
                      <h1>@Model.TotalEventsCount</h1>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Event/Index')">
                      <h3>Upcoming Events</h3>
                      <h1>@Model.UpcomingEventCount</h1>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6 col-lg-4">
                  <div class="card card-1 dashboard-link" onclick="redirect('/Banners/Index')">
                      <h3>Uploaded Banners/Coupons</h3>
                      <h1>@Model.BannerCount</h1>
                  </div>
              </div>

          </div>
</div>

<script>

        function redirect(path) {
            window.location = path;
        }




</script>