﻿@model IEnumerable<PluggedInDataAccess.AspNetUser>

@{
    ViewBag.Title = "ViewUsers";
}


<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<h2>Users currently signed up on the portal</h2>
<h3>@ViewBag.DisableAction</h3>
<table class="table table-bordered table-hover" id="userTable" cellSpacing="0" data-show-toggle="true"
       data-show-columns="true" data-search="true" data-pagination="true" data-filter-control="true">
    <thead>
        <tr>
            <th data-field="Email" data-sortable="true">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-field="LockoutState" data-sortable="true" data-filter-control="select">
                State
            </th>
            <th data-field="EmailConfirmed" data-sortable="true" data-filter-control="select">
                Email Confirmed
            </th>
            <th data-field="Agency" data-sortable="true">
                Registered Agency (if any)
            </th>
            <th data-field="disableAction">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:left">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.LockoutEndDateUtc > DateTime.Now)
                    {
                        <span>Locked till @item.LockoutEndDateUtc</span>
                    }
                    else
                    {
                        <span>Enabled</span>
                    }

                </td>
                <td>
                    @if (item.EmailConfirmed == true)
                    {<span>Yes</span> }
                    else
                    {<span>No</span>}
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Agency.Name)
                </td>
                <td>
                    @if (item.LockoutEndDateUtc < DateTime.Now || item.LockoutEndDateUtc == null)
                    {
                        @Html.ActionLink("Lock this user", "DisableUser", "Admin", routeValues: new { @Id = item.Id }, htmlAttributes: new { @class = "yep-btn" })
                    }
                    else if (item.LockoutEndDateUtc > DateTime.Now)
                    {
                        @Html.ActionLink("Change Unlock Date", "DisableUser", "Admin", routeValues: new { @Id = item.Id }, htmlAttributes: new { @class = "yep-btn" })<br /><br />
                        @Html.ActionLink("Unlock Now", "UnlockUser", "Admin", routeValues: new { @Id = item.Id }, htmlAttributes: new { @class = "yep-btn" })
                    }


                </td>

            </tr>

        }
    </tbody>
</table>


@if (ViewBag.LastAction != null)
{
    <h2>@ViewBag.LastAction</h2>
}
<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/bootstrap-table-filter-control.js"></script>
<script>
    $('#userTable').bootstrapTable({
    });
</script>