﻿@model Agency
@using PluggedInDataAccess;

@{
    ViewBag.Title = "ViewProfile";
}
<br />
<h2>Agency Profile</h2>

<hr />
<br />
<br />

<div style="width: 100%;">
    <div style="float: left; width: 30%;">
        @{
            if (Model.ProfilePicture != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc" style="width:100px;height:100px;" id="image-preview" />
            }
            else
            {
                <img src="~/Assets/profile-placeholder.jpg" style="width:100px;height:100px;" id="image-preview" />
                <h4>No logo</h4>
            }
        }

    </div>
    <div style="float: left; width: 50%;">
        <h4 align="left">@Html.DisplayFor(item => Model.Name)</h4>
        <p align="left">
            @Html.DisplayFor(item => Model.Address)<br />
            @Html.DisplayFor(item => Model.PostalCode)<br />
            @Html.DisplayFor(item => Model.PhoneNumber)<br />
            @Html.DisplayFor(item => Model.WebsiteUrl)
        </p>

    </div>
    <div style="float: left; width: 20%;">
        <form class="form-inline animated slideInDown center-align" action="/Home/GetDirections" method="post" style="margin:auto;" id="agencyForm">
            <input type="text" name="agencyId" class="form-control hidden" value="@Html.DisplayFor(item => Model.Id)" />
            <br />
            <button class="btn yep-btn" type="submit">Directions</button><br /><br />
            <a href="http://@Model.WebsiteUrl" target="_blank" class="btn yep-btn">Website</a>
        </form>
    </div>
    <br style="clear: left;" />
</div>

<br />
<br />

<div style="width: 100%;">
    <div style="float: left; width: 40%;">
        <h4 align="left">About Us</h4>
        <p align="left">
            @Html.DisplayFor(item => Model.Description)<br />
        </p>
    </div>

    <div style="float: left; width: 20%;">
        <div style="border-left:2px solid #737373; height:200px; margin-left: 70px;"></div>
    </div>

    <div style="float: left; width: 40%;">
        <h4>Services Offered:</h4>
        <ul>
            @foreach (Resource e in Model.Resources)
            {
                <li><p align="left">@Html.DisplayFor(item => e.Name)</p></li>
            }

        </ul>
    </div>
    <br style="clear: left;" />
</div>

<br />
<br />

<hr />

<br />

@if (Model.ApplicationStatus != "APPROVED")
{
    @Html.ActionLink("Approve this application", "ApproveApplication", "Admin", routeValues: new { AgencyId = Model.Id }, htmlAttributes: new { @class = "yep-btn" })
}
@if (Model.ApplicationStatus != "REJECTED")
{
    @Html.ActionLink("Reject this application", "RejectApplication", "Admin", routeValues: new { AgencyId = Model.Id }, htmlAttributes: new { @class = "yep-btn" })
}

<br />
<br />