﻿@model IEnumerable<PluggedInDataAccess.Agency>

@{
    ViewBag.Title = "Rejected Agency Applications";
}

<br />
<br />


@if (Model.Count() == 0)
{
    ViewBag.Title = "No Rejected Applications found!";
    <h3>@ViewBag.Title</h3>

}
else
{
    <h3>@ViewBag.Title</h3>
    foreach (var item in Model)
    {
        <hr />
        <div style="width: 100%;">
            <div style="float: left; width: 33%;">
                @{
                    if (item.ProfilePicture != null)
                    {
                        string imageBase64 = Convert.ToBase64String(item.ProfilePicture);
                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        <img src="@imageSrc" style="width:100px;height:100px;" id="image-preview" />
                    }
                    else
                    {
                        <img src="~/Assets/profile-placeholder.jpg" style="width:100px;height:100px;" id="image-preview" />
                        <h4>No logo</h4>
                    }
                }
            </div>
            <div style="float: left; width: 33%;">
                <table align="left">
                    <tr align="left">@Html.DisplayFor(modelItem => item.Name)<br /></tr>
                    <tr align="left">@Html.DisplayFor(modelItem => item.Address)<br /></tr>
                    <tr align="left">@Html.DisplayFor(modelItem => item.PostalCode)<br /></tr>
                    <tr align="left">@Html.DisplayFor(modelItem => item.PhoneNumber)<br /></tr>
                </table>
            </div>
            <div style="float: left; width: 33%;">
                @Html.ActionLink("View", "ViewApplication", "Admin", htmlAttributes: null, routeValues: new { AgencyId = item.Id })
            </div>
            <br style="clear: left;" />
        </div>


    }


}


