﻿@model IEnumerable<PluggedInDataAccess.Event>
@using PluggedInDataAccess;

@{
    ViewBag.Title = "All Events";
}
@{
    ViewBag.Title = "ViewAllEvents";
}

<link href="~/Content/event.css" rel="stylesheet" />

<div class="container" style="margin-top: -50px;">
    <div class="col-sm-12 col-xl-6">
        <div class="timeline">
            <ul>
                @foreach (Event e in Model)
                {
                    <li>
                        <div class="content">
                            <h3>@Html.DisplayFor(item => e.Name)</h3>
                            <p>
                                <br /><i class="material-icons">
                                    location_on
                                </i>@Html.DisplayFor(item => e.Venue)<br />
                                <strong>Hosted by</strong> @Html.DisplayFor(item => e.Agency.Name)<br />
                                <span style="opacity:0.7">
                                    <i class="material-icons">turned_in</i>@Html.DisplayFor(item => e.Resource.Name) related event
                                    @*<br />Ends: @string.Format("{0:ddd, MMM d, yyyy}", e.EndDate)<br />*@
                                    <br />Ends: @e.EndDate.ToString("dddd, dd MMMM yyyy hh:mm tt")<br />

                                </span>
                            </p>
                        </div>
                        <div class="time">
                            @*<h4><strong>@string.Format("{0:ddd, MMM d, yyyy}", e.StartDate)</strong></h4>*@
                            <h4><strong>@e.StartDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</strong></h4>
                        </div>
                        @if (User.IsInRole("Agency") || User.IsInRole("Administrator") && e.StartDate > DateTime.Now)
                        {
                            <div>@Html.ActionLink("Cancel this Event", "DeleteEvent", routeValues: new { eventId = e.Id, agencyId = e.Agency.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "color:white; border-radius:25px;" })</div>
                        }
                    </li>
                }
                <div style="clear:both;"></div>

            </ul>

        </div>
    </div>
</div>
