﻿@model IEnumerable<PluggedInDataAccess.Event>
@using PluggedInDataAccess;

@{
    ViewBag.Title = "All Events";
}

<div id="event-body">
    <h2 id="event_title">Events</h2>
    <hr />
    <h4>Narrow events by type or location</h4>
    <br />
    <div>
        <form class="form-inline" action="/Event/SearchEvents" id="searchEventForm" method="post" style="margin:auto;">


            <div class="form-group">
                <input type="text" id="postalCode" name="postalCode" class="form-control" placeholder="Postal Code" />
            </div>


            <div class="form-group">
                @Html.DropDownList("ResourceList")
            </div>

            <input type="text" id="userLat" name="userLat" class="form-control hidden" />

            <input type="text" id="userLong" name="userLong" class="form-control hidden" />

            <button type="button" id="submitForm" class="btn yep-btn">Search!</button>
        </form>
    </div>
    <br />
    <h4 align="left">Results</h4>
    <hr />
    <link href="~/Content/event.css" rel="stylesheet" />
    @{
        if (ViewBag.NumberOfResults == "Results")
        {
            <div class="container" style="margin-top: -50px;">
                <div class="col-sm-12 col-xl-6">
                    <div class="timeline">
                        <ul>
                            @foreach (Event e in Model.Where(e => e.StartDate > DateTime.Now).OrderBy(e => e.StartDate))
                            {
                                <li>
                                    <div class="content">
                                        <h3>@Html.DisplayFor(item => e.Name)</h3>
                                        <p>
                                            <br /><i class="material-icons">
                                                location_on
                                            </i>@Html.DisplayFor(item => e.Venue)<br />
                                            <strong>Hosted by</strong> @Html.DisplayFor(item => e.Agency.Name)<br />
                                            <span style="opacity:0.7">
                                                <i class="material-icons">turned_in</i>@Html.DisplayFor(item => e.Resource.Name) related event
                                                @*<br />Ends: @string.Format("{0:ddd, MMM d, yyyy}", e.EndDate)<br />*@
                                                <br />Ends: @e.EndDate.ToString("dddd, dd MMMM yyyy hh:mm tt")<br />

                                            </span>
                                        </p>
                                    </div>
                                    <div class="time">
                                        @*<h4><strong>@string.Format("{0:ddd, MMM d, yyyy}", e.StartDate)</strong></h4>*@
                                        <h4><strong>@e.StartDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</strong></h4>
                                    </div>
                                    @if (User.IsInRole("Agency") || User.IsInRole("Administrator") && e.StartDate > DateTime.Now)
                                    {
                                        <div>@Html.ActionLink("Cancel this Event", "DeleteEvent", routeValues: new { eventId = e.Id, agencyId = e.Agency.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "color:white; border-radius:25px;" })</div>
                                    }
                                </li>
                            }
                            <div style="clear:both;"></div>

                        </ul>

                    </div>
                </div>
            </div>
        }
        else
        {
            <h4>@ViewBag.NumberOfResults</h4>
        }
    }
</div>
<br />



<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>
<script>

    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var latitude;
        var longitude;


        function getGeocodes(address) {

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();

                    document.getElementById("userLat").value = latitude;
                    document.getElementById("userLong").value = longitude;

                    $("#searchEventForm").submit();
                }
            });
        }

        $('#submitForm').click(function () {
            address = $("#postalCode").val();

            if (address != "") {
                getGeocodes(address);
            } else {
                $("#searchEventForm").submit();
            }

            
        });
    }


</script>



