﻿@using PluggedInPortal.Models.ViewModels;
@model AgencyResourceViewModel

@{
    ViewBag.Title = "Create Agency Application";
}

@using (Html.BeginForm("CreateAgencyApplication", "Home", FormMethod.Post, new { id = "agency-form", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.agency.Id)
    <br />
    <br />
    //<h4>Your Agency Application's current status is: <strong>@Model.agency.ApplicationStatus</strong></h4>
    <h3>Your  Agency Application</h3>
    <hr />

    <h5 style="padding: 5px 15px 5px 15px; float: left; background: #F2B632; display:inline-block; border-radius: 20px; font-weight: bold; margin-top: -5px;    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">
        @Model.agency.ApplicationStatus
    </h5>

    if (Model.agency.ApplicationStatus != "APPROVED")
    {
        <div class="form-group" style="margin-top: -5px; margin-right: 0px !important; float: right;">
            <input type="button" id="btn-submit-form" class="btn yep-btn" value="Submit" style="margin-left: 0px !important;"/>
        </div>
    }

    if (Model.agency.ApplicationStatus == "PENDING REVIEW" || Model.agency.ApplicationStatus == "INCOMPLETE" || Model.agency.ApplicationStatus == "REJECTED" || Model.agency.ApplicationStatus == "SAVED")
    {
        <div class="form-group" style="margin-top: -5px; float: right; margin-left: 0px;">
            <input type="button" class="btn yep-btn" value="Save" id="btn-save-form" />
        </div>
    }

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        <input type="text" id="agencyLat" name="agencyLat" class="hidden">
    </div>
    <div class="form-group">
        <input type="text" id="agencyLong" name="agencyLong" class="hidden">
    </div>

    <div style="width: 100%;">
        <div style="float: left; width: 50%;">
            <div class="form-group">
                @Html.LabelFor(m => m.agency.ProfilePicture, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @{
                        if (Model.agency.ProfilePicture != null)
                        {
                            string imageBase64 = Convert.ToBase64String(Model.agency.ProfilePicture);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" height="100" style="width:100%" id="image-preview" onchange="preview_image(event)" />
                        }
                    }
                    @Html.HiddenFor(model => model.agency.ProfilePicture)
                    @*@Html.TextBoxFor(m => m.agency.ProfilePicture, new { @class = "form-control" })*@
                    <input type="file" id="image" name="image" onchange="preview_image(event)" />
                </div>
            </div>
            <br />
            <br />

            <hr />

            <h4>Services Provided:</h4>
            <hr />
            @{ for (int i = 0; i < Model.agencyResourceMaps.Count; i++)
                {
                    <div class="form-check" style="text-align:left;margin-left:20px;">

                        @Html.EditorFor(m => m.agencyResourceMaps[i].isResourceProvided, new { @class = "form-check-input" })
                        @Html.DisplayFor(m => m.agencyResourceMaps[i].Name, new { @class = "form-check-label" })
                    </div>

                }
            }
        </div>
        <div style="float: left; width: 50%;">
            <div class="form-group">
                @Html.LabelFor(m => m.agency.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.agency.Name, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.agency.Address, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.agency.Address, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="PostalCode" class="col-md-2 control-label">Postal Code</label>
                @*@Html.LabelFor(m => m.agency.PostalCode, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.agency.PostalCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label for="PhoneNumber" class="col-md-2 control-label">Phone</label>
                @*@Html.LabelFor(m => m.agency.PhoneNumber, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.agency.PhoneNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="WebsiteUrl" class="col-md-2 control-label">Website</label>
                @*@Html.LabelFor(m => m.agency.WebsiteUrl, new { @class = "col-md-2 control-label" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.agency.WebsiteUrl, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.agency.Description, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.agency.Description, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <input type="hidden" id="StatusAction" name="StatusAction" value="PENDING REVIEW" />
    </div>
        }

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>

<script>

    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = $("#agency_Address").val();
        var latitude;
        var longitude;


        function getGeocodes(address) {

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();

                    document.getElementById("agencyLat").value = latitude;
                    document.getElementById("agencyLong").value = longitude;

                    document.getElementById("agency-form").submit();
                }
            });
        }

        document.getElementById("btn-save-form").addEventListener("click", function () {
            document.getElementById("StatusAction").value = "SAVED";
            address = $("#agency_Address").val();

            getGeocodes(address);
        });

        document.getElementById("btn-submit-form").addEventListener("click", function () {
            address = $("#agency_Address").val();

            getGeocodes(address);
        });

        
    }

    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('image-preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }


</script>

