﻿@using PluggedInPortal.Models.ViewModels;
@model AgencyEventsViewModel

@{
    ViewBag.Title = "Create Event";
    //IEnumerable<PluggedInDataAccess.Resource> resources = Model.agency.Resources.ToList();

}
<h3>
    @ViewBag.Message
</h3>

@if (ViewBag.Name == null)
{
    IEnumerable<SelectListItem> resources = Model.agency.Resources.Select(c => new SelectListItem
    {
        Value = c.Id.ToString(),
        Text = c.Name

    });

    <br />
    <h2>Create Event</h2>
    <hr />
    <br />
    using (Html.BeginForm("CreateEvent", "Home", FormMethod.Post, new { id = "event-form", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.agency.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.agency.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.agency.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>


        <div class="form-group">
            @*@Html.LabelFor(m => m.agencyEvent.Name, new { @class = "col-md-2 control-label" })*@
            <div class="col-md-2 control-label">
                <strong>Event Name</strong>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.agencyEvent.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(m => m.agencyEvent.Venue, new { @class = "col-md-2 control-label" })*@
            <label class="col-md-2 control-label" for="agencyEvent_Venue">Address</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.agencyEvent.Venue, new { id = "event_Address", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.agencyEvent.ResourceId, new { @class = "col-md-2 control-label" })
            <div>
                @Html.DropDownListFor(m => m.agencyEvent.ResourceId, resources)
            </div>
        </div>

        <br />
        <div class="container">
            <div class="col-sm-8" style="height:75px;">
                <div class='col-md-6'>
                    <div class="form-group">
                        <div style="font-weight: bold;">Start Date and Time</div>

                        <div class='input-group date' id='startDate'>
                            <input type='text' class="form-control" name="eventStartDate" id="eventStartDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="form-group">
                        <div style="font-weight: bold;">End Date and Time</div>

                        <div class='input-group date' id='endDate'>
                            <input type='text' class="form-control" name="eventEndDate" id="eventEndDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            <input type="text" id="eventLat" name="eventLat" class="hidden">
        </div>
        <div class="form-group">
            <input type="text" id="eventLong" name="eventLong" class="hidden">
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btn-submit-form" class="btn yep-btn" value="Add this Event" />
            </div>

        </div>
    }
    <br />
    <hr />

    <!-- Latest compiled and minified CSS --> <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>


    <script>
        $(document).ready(function () {
            $(function () {
                $('#startDate').datetimepicker();
                $('#endDate').datetimepicker({
                    useCurrent: true
                });
                $("#startDate").on("dp.change", function (e) {
                    $('#endDate').data("DateTimePicker").minDate(e.date);
                });
                $("#endDate").on("dp.change", function (e) {
                    $('#startDate').data("DateTimePicker").maxDate(e.date);
                });
            });
        });

        function initMap() {
            var geocoder = new google.maps.Geocoder();
            var address = $("#event_Address").val();
            var latitude;
            var longitude;


            function getGeocodes(address) {

                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        latitude = results[0].geometry.location.lat();
                        longitude = results[0].geometry.location.lng();

                        document.getElementById("eventLat").value = latitude;
                        document.getElementById("eventLong").value = longitude;

                        document.getElementById("event-form").submit();
                    }
                });
            }

            document.getElementById("btn-submit-form").addEventListener("click", function () {
                address = $("#event_Address").val();

                getGeocodes(address);
            });
        }
    </script>

}
else
{

    <h3> Event added Successfully..</h3>
    @Html.ActionLink("Add more Events", "CreateEvent", "Home", routeValues: new { agencyId = ViewBag.AgencyId }, htmlAttributes: null);<br />
    @Html.ActionLink("View All Events", "Index", "Event", routeValues: null, htmlAttributes: null);


}





