﻿@model Agency
@using PluggedInDataAccess;


@{
    ViewBag.Title = "Get Directions";
}

<br />
<h2>Get Directions</h2>

<hr />

<br />

<div class="form-inline animated slideInDown center-align" action="/Home/SearchAgency" method="post" style="margin:auto;">

    <div class="form-group">
        <input type="text" name="userAddress" id="userAddress" class="form-control" placeholder="Your Address" style="width:250px;"/>
    </div>

    <div class="form-group" style="margin-left: 10px;">
        <input type="text" name="agencyAddress" id="agencyAddress" class="form-control" style="width:250px;" disabled value="@Model.Address" />
    </div>

    <input id="submit" type="button" value="Get Directions" class="yep-btn">
</div>

<br />

<div id="map" style="height: 500px; width:100%;"></div>

<script>
    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: { lat: 41.85, lng: -87.65 }
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function () {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        });

        document.getElementById('userAddress').addEventListener('change', onChangeHandler);
        document.getElementById('agencyAddress').addEventListener('change', onChangeHandler);
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
            origin: document.getElementById('userAddress').value,
            destination: document.getElementById('agencyAddress').value,
            travelMode: 'DRIVING'
        }, function (response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>

