﻿@model IEnumerable<PluggedInDataAccess.Banner>
@{
    ViewBag.Title = "Welcome";
}
<div id="home-body">
    <img src="~/Assets/Youth1.png" class="homepage-bg" />

    <br />
    <br />
    <h1 class="white-text animated slideInUp">
        Explore Opportunities near you!
    </h1>
    <form class="form-inline animated slideInDown center-align" id="searchAgencyForm" action="/Home/SearchAgency" method="post" style="margin:auto;">

        <div class="form-group">
            <input type="text" id="postalCode" name="postalCode" class="form-control" placeholder="Postal Code" />
        </div>

        <div class="form-group">
            @Html.DropDownList("ResourceList")
        </div>


        <input type="text" id="userLat" name="userLat" class="form-control hidden" />

        <input type="text" id="userLong" name="userLong" class="form-control hidden" />


        <button type="button" id="submitForm" class="btn yep-btn">Search!</button>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
    <!--Carousel-->
    <div class="col-lg-offset-2">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:700px;min-height:300px;z-index:100;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="active"></li>
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @{
                    bool isFirstBanner = true;
                    string divClass = "item active";
                    foreach (var item in Model)
                    {
                        if (isFirstBanner == false) { divClass = "item";}
                        isFirstBanner = false;

                        <div class="@divClass">
                            @if (item != null)
                            {
                                string imageBase64 = Convert.ToBase64String(item.BannerImage);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" alt="@item.Name" style="width:100%" />
                            }
                        </div>
                        
                    }
                    }
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


</div>

<div id="yep_div_resources">
    <h2>Resources</h2>
    <br />
    <main>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
        <div>
            <div class="column"><img src="~/Assets/resources.png" class="resource_image"/></div>
            <div class="column">
                <h4 class="resource_header">Employment</h4>
                <p class="resource_description">A variety of employment and career exploration workshops assist youth to develop employment goals as well as design resumes and cover letters in order to secure part-time and summer employment.</p>
            </div>
        </div>
    </main>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>
<script>


    function initMap() {
                        var geocoder = new google.maps.Geocoder();
                        var address = $("#agency_Address").val();
                        var latitude;
                        var longitude;


                        function getGeocodes(address) {

                            geocoder.geocode({ 'address': address }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            latitude = results[0].geometry.location.lat();
                            longitude = results[0].geometry.location.lng();

                            document.getElementById("userLat").value = latitude;
                            document.getElementById("userLong").value = longitude;

                    $("#searchAgencyForm").submit();
                        }
                    });
        }

        $('#submitForm').click(function () {
                        address = $("#postalCode").val();

                        if (address != "") {
                            getGeocodes(address);
                        } else {
                $("#searchAgencyForm").submit();
                        }
                    });
    }



</script>

