﻿@using Microsoft.AspNet.Identity;


@{
    ViewBag.Title = "Home Page";
}


@if (User.IsInRole("Administrator"))
{

    //@Html.Partial("../Admin/Index")
    @*<div class="jumbotron">
            <h1>Welcome Administrator</h1>
            <p> Admin Profile and other details will be shown here.</p>
        </div>*@

}
else if (User.IsInRole("Agency"))
{
   // @model PluggedInDataAccess.Agency

    //@Html.Partial("ViewProfile", Model);

    @*
        @Html.HiddenFor(Model => Model.Id)
        <div class="jumbotron">

            <h1>Welcome Agency User</h1>
            <p> User Profile along with agency information will be displayed here</p>
            <p>Agasd @ViewBag.AgencyId</p>

            @if (Model != null)
            {
                if (Model.ApplicationStatus == "APPROVED")
                {
                    @Html.ActionLink("View your Profile", "ViewProfileAgency", "Home", routeValues: new { agencyId = Model.Id }, htmlAttributes: new { @class = "yep-btn" });<br />
                    @Html.ActionLink("Manage your Events", "ManageEvent", "Home", routeValues: new { agencyId = Model.Id }, htmlAttributes: new { @class = "yep-btn" });
                }
                else
                {
                    <p><b>You must create an approved profile before you can add new events</b></p>
                }
            }
        </div>*@

}
else
{
    <div class="jumbotron">
        <h1>Welcome Resident</h1>
        <p> Resident Profile will be displayed here</p>
    </div>
}
