﻿@using PluggedInDataAccess;
@model Agency

@{
    ViewBag.Title = "Manage your Events";
}

<link href="~/Content/event.css" rel="stylesheet" />


@if (Model.ApplicationStatus == "PENDING REVIEW")
{
    <div class="jumbotron">
        <h3>You can't add event until your application is approved by the administrator.</h3>
    </div>
}
@if (Model.ApplicationStatus == "SAVED")
{
    <div class="jumbotron">
        <h3>Your application needs to be sent for approval before you can add more events.</h3>
    </div>
}
else if (Model.ApplicationStatus == "REJECTED")
{
    <div class="jumbotron">
        <h3>Some changes needed in your agency application</h3>
        <p> Your application must be approved before you can add events.</p>
    </div>
}
else if (Model.ApplicationStatus == "APPROVED")
{

}
else
{
    <div class="jumbotron">
        <h3>You must have an approved application in order to add events.</h3>
    </div>
}

@if (Model.ApplicationStatus == "APPROVED")
{
    <!--Event old starts here-->
    <br />
    <h2>Your Events: </h2>
    <br />
    @*<table class="table">
            <tr>
                <th>Name</th>
                <th>Venue</th>
                <th>Organized By</th>
                <th>Start Date and Time</th>
                <th>End Date and Time</th>
                <th>Resource Type</th>
                <th>....</th>
            </tr>

            @foreach (Event e in Model.Events)
            {
                <tr>
                    <td>@Html.DisplayFor(item => e.Name) </td>
                    <td>@Html.DisplayFor(item => e.Venue) </td>
                    <td>@Html.DisplayFor(item => e.Agency.Name) </td>
                    <td>@Html.DisplayFor(item => e.StartDate) </td>
                    <td>@Html.DisplayFor(item => e.EndDate) </td>
                    <td>@Html.DisplayFor(item => e.Resource.Name)</td>
                    <td>
                        @Html.ActionLink("Cancel this Event", "DeleteEvent", routeValues: new { eventId = e.Id, agencyId = e.Agency.Id }, htmlAttributes: null)
                    </td>
                </tr>
            }

        </table>*@
    <!--Events old ends here-->


    <div class="container well" style="background:#f9f9f9">
        <div class="col-sm-12 col-xl-6">
            <div style="text-align:center">
                <a class="yep-btn" href="@Url.Action("CreateEvent","Home" , routeValues: new {agencyId = Model.Id })" style="font-size:18px"><i class='material-icons'>create</i>Create Event</a>
                @*@Html.ActionLink("Add Events", "CreateEvent", "Home", routeValues: new { agencyId = Model.Id }, htmlAttributes: new { @class = "yep-btn" , @style="font-size:18px;"})*@
            </div>
            <div class="timeline">
                <ul>
                    @foreach (Event e in Model.Events.OrderByDescending(e => e.StartDate))
                    {
                        <li>
                            <div class="content">
                                <h3>@Html.DisplayFor(item => e.Name)</h3>
                                <p>
                                    <br /><i class="material-icons">
                                        location_on
                                    </i>@Html.DisplayFor(item => e.Venue)<br />
                                    <strong>Hosted by</strong> @Html.DisplayFor(item => e.Agency.Name)<br />
                                    <span style="opacity:0.7">
                                        <i class="material-icons">turned_in</i>@Html.DisplayFor(item => e.Resource.Name) related event
                                        <br />Ends: @e.EndDate.ToString("dddd, dd MMMM yyyy hh:mm tt")<br />

                                    </span>
                                </p>
                            </div>
                            <div class="time">
                                <h4><strong>@e.StartDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</strong></h4>
                            </div>
                            @if (User.IsInRole("Agency") || User.IsInRole("Administrator") && e.StartDate > DateTime.Now)
                            {
                                <div>@Html.ActionLink("Cancel this Event", "DeleteEvent", routeValues: new { eventId = e.Id, agencyId = e.Agency.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "color:white; border-radius:25px;" })</div>
                            }
                        </li>
                    }
                    <div style="clear:both;"></div>

                </ul>

            </div>
        </div>
    </div>
}



