﻿@model IEnumerable<PluggedInDataAccess.Agency>
@using PluggedInDataAccess;


@{
    /**/

    ViewBag.Title = "Search Resources";
}

<br />
<h2>Search Resources</h2>

<hr />

<br />
<h5>Enter your postal code to search locally and select what you are looking for.</h5>
<form class="form-inline animated slideInDown center-align" action="/Home/SearchAgency" id="searchAgencyForm" method="post" style="margin:auto;">

    <div class="form-group">
        <input type="text" id="postalCode" name="postalCode" class="form-control" placeholder="Postal Code" />
    </div>


    <div class="form-group">
        @Html.DropDownList("ResourceList")
    </div>

    <input type="text" id="userLat" name="userLat" class="form-control hidden" />

    <input type="text" id="userLong" name="userLong" class="form-control hidden" />

    <button type="button" id="submitForm" class="btn yep-btn">Search!</button>
</form>

<br />

<h5 align="left">Results</h5>
<hr />

@{
    if (ViewBag.NumberOfResults == "Results")
    {
        foreach (Agency e in Model)
        {
            <form class="form-inline animated slideInDown center-align" method="post" style="margin:auto;" id="agencyForm_@Html.DisplayFor(item => e.Id)">
                <input type="text" name="agencyId" class="form-control hidden" value="@Html.DisplayFor(item => e.Id)" />
                <div style="width: 100%;">
                    <div style="float: left; width: 33%;">
                        @{
                            if (e.ProfilePicture != null)
                            {
                                string imageBase64 = Convert.ToBase64String(e.ProfilePicture);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" style="width:100px;height:100px;" id="image-preview" />
                            }
                            else
                            {
                                <img src="~/Assets/profile-placeholder.jpg" style="width:100px;height:100px;" id="image-preview" />
                                <h4>No logo</h4>
                            }
                        }

                    </div>
                    <div style="float: left; width: 33%;">
                        <table align="left">
                            <tr align="left">@Html.DisplayFor(item => e.Name)<br /></tr>
                            <tr align="left">@Html.DisplayFor(item => e.Address)<br /></tr>
                            <tr align="left">@Html.DisplayFor(item => e.PostalCode)<br /></tr>
                            <tr align="left">@Html.DisplayFor(item => e.PhoneNumber)<br /></tr>
                            <tr align="left">@Html.DisplayFor(item => e.WebsiteUrl)<br /></tr>
                            @{
                                if(e.Distance > 0) { 
                                    <tr align="left">@Html.DisplayFor(item => e.Distance)km away</tr>
                                }
                            }
                        </table>
                    </div>
                    <div style="float: left; width: 33%;">
                        <br />
                        <button class="btn yep-btn view_profile" onclick="viewProfile(@Html.DisplayFor(item => e.Id))">View Profile</button>
                        <button class="btn yep-btn get_direction" onclick="getDirection(@Html.DisplayFor(item => e.Id))">Get Directions</button>

                    </div>
                    <br style="clear: left;" />
                </div>
            </form>
            <hr />

                                    }
                                }
                                else
                                {
        <h4>@ViewBag.NumberOfResults</h4>
    }
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQAZbLmdbDvSfmqeym2uhfLTzt6e3rowI&callback=initMap"></script>
<script>

    function viewProfile(id) {
        var frm = document.getElementById("agencyForm_" + id);

        frm.setAttribute("action", "/Home/ViewProfile");

        frm.submit();
    }

    function getDirection(id) {
        var frm = document.getElementById("agencyForm_"+id);

        frm.setAttribute("action", "/Home/GetDirections");

        frm.submit();
    }

    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = $("#agency_Address").val();
        var latitude;
        var longitude;


        function getGeocodes(address) {

            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    latitude = results[0].geometry.location.lat();
                    longitude = results[0].geometry.location.lng();

                    document.getElementById("userLat").value = latitude;
                    document.getElementById("userLong").value = longitude;

                    $("#searchAgencyForm").submit();
                }
            });
        }

        $('#submitForm').click(function () {
            address = $("#postalCode").val();

            if (address != "") {
                getGeocodes(address);
            } else {
                $("#searchAgencyForm").submit();
            }
            
        });
    }


</script>