﻿@model Agency
@using PluggedInDataAccess;

@{
    ViewBag.Title = "ViewProfile";
}

<br />

<br />
<br />
<br />

<div style="width: 100%;">
    <div style="float: left; width: 30%;">
        @{
            if (Model.ProfilePicture != null)
            {
                string imageBase64 = Convert.ToBase64String(Model.ProfilePicture);
                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                <img src="@imageSrc" style="width:100px;height:100px;" id="image-preview" />
            }
            else
            {
                <img src="~/Assets/profile-placeholder.jpg"  style="width:100px;height:100px;" id="image-preview" />
                <h4>No logo</h4>
            }
        }

    </div>
    <div style="float: left; width: 50%;">
        <h4 align="left">@Html.DisplayFor(item => Model.Name)</h4>
        <p align="left">
            @Html.DisplayFor(item => Model.Address)<br />
            @Html.DisplayFor(item => Model.PostalCode)<br />
            @Html.DisplayFor(item => Model.PhoneNumber)<br />
            @Html.DisplayFor(item => Model.WebsiteUrl)
        </p>

    </div>
    <div style="float: left; width: 20%;">
        <form class="form-inline animated slideInDown center-align" action="/Home/GetDirections" method="post" style="margin:auto;" id="agencyForm">
            <input type="text" name="agencyId" class="form-control hidden" value="@Html.DisplayFor(item => Model.Id)" />
            <br />
            <button class="btn yep-btn" type="submit">Directions</button><br /><br />
            <a href="http://@Model.WebsiteUrl" target="_blank" class="btn yep-btn">Website</a>
        </form>
    </div>
    <br style="clear: left;" />
</div>

<br />
<br />

<div style="width: 100%;">
    <div style="float: left; width: 40%;">
        <h4 align="left">About Us</h4>
        <p align="left">
            @Html.DisplayFor(item => Model.Description)<br />
        </p>
    </div>

    <div style="float: left; width: 20%;">
        <div style="border-left:2px solid #737373; height:200px; margin-left: 70px;"></div>
    </div>

    <div style="float: left; width: 40%;">
        <h4>Services Offered:</h4>
        <ul>
            @foreach (Resource e in Model.Resources)
            {
                <li><p align="left">@Html.DisplayFor(item => e.Name)</p></li>
            }

        </ul>
    </div>
    <br style="clear: left;" />
</div>

<br />
<br />

<hr />

<br />

<h4>Upcoming Events <span style="color: dodgerblue;">&#8226;</span> </h4>
<br />
<link href="~/Content/event.css" rel="stylesheet" />
<div class="container">
    <div class="col-sm-12 col-xl-6">
        <div class="timeline" style="margin-top: 0px !important;">
            <ul>
                @foreach (Event e in Model.Events.Where(e => e.StartDate > DateTime.Now).OrderByDescending(e => e.StartDate))
                {
                    <li>
                        <div class="content">
                            <h3>@Html.DisplayFor(item => e.Name)</h3>
                            <p>
                                <br /><i class="material-icons">
                                    location_on
                                </i>@Html.DisplayFor(item => e.Venue)<br />
                                <strong>Hosted by</strong> @Html.DisplayFor(item => e.Agency.Name)<br />
                                <span style="opacity:0.7">
                                    <i class="material-icons">turned_in</i>@Html.DisplayFor(item => e.Resource.Name) related event
                                    <br />Ends: @e.EndDate.ToString("dddd, dd MMMM yyyy hh:mm tt")<br />

                                </span>
                            </p>
                        </div>
                        <div class="time">
                            <h4><strong>@e.StartDate.ToString("dddd, dd MMMM yyyy hh:mm tt")</strong></h4>
                        </div>
                        @if (User.IsInRole("Agency") || User.IsInRole("Administrator") && e.StartDate > DateTime.Now)
                        {
                            <div>@Html.ActionLink("Cancel this Event", "DeleteEvent", routeValues: new { eventId = e.Id, agencyId = e.Agency.Id }, htmlAttributes: new { @class = "btn btn-danger", @style = "color:white; border-radius:25px;" })</div>
                        }
                    </li>
                }
                <div style="clear:both;"></div>

            </ul>

        </div>
    </div>
</div>
@if(Model.Events.Where(e => e.StartDate > DateTime.Now).Count() == 0)
{
    <h3>No events found!</h3>
    @Html.ActionLink("Create an Event", "CreateEvent" ,"Home", routeValues: new { agencyId = Model.Id }, htmlAttributes:null);
}




<br />
<br />
<br />
