﻿@using Microsoft.AspNet.Identity;
@{
    var userId = User.Identity.GetUserId();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <title>@ViewBag.Title - Youth Employment Portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>

    </style>
</head>
<body class="animated fadeIn">
    <div class="navbar navbar-inverse navbar-fixed-top" id="top-navbar" style="background:#3c3e42;box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:white; font-size: 110%;" href="@Url.Action("HomePage", "Home", new { area = "", id = userId })" class="navbar-brand">
                    <img src="~/Assets/logo.png" title="yep-logo" alt="" />Youth Employment Portal
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("All Events", "Index", "Event", null, new { @class = "white-text" })</li>
                    @if (Request.IsAuthenticated)
                    {

                        @*<li>@Html.ActionLink("Home", "Index", "Home", routeValues: new { id = userId }, htmlAttributes: new { @class = "white-text" })</li>
            <li>@Html.ActionLink("About", "About", "Home", htmlAttributes: new { @class = "white-text" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", htmlAttributes: new { @class = "white-text" })</li>*@
                        if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Banners", "Index", "Banners", routeValues: null, htmlAttributes: new { @class = "white-text" })</li>
                            <li>@Html.ActionLink("Review Applications", "ViewPendingApplications", "Admin", routeValues: null, htmlAttributes: new { @class = "white-text" })</li>
                        }

                        if (User.IsInRole("Agency"))
                        {
                            PluggedInDataAccess.PluggedInEntities db = new PluggedInDataAccess.PluggedInEntities();
                            var a = db.AspNetUsers.Find(userId).Agency;

                            <li>@Html.ActionLink("My Events", "ManageEvent", "Home", routeValues: new { agencyId = a.Id }, htmlAttributes: new { @class = "white-text" })</li>
                            <li>@Html.ActionLink("Your Agency Application", "CreateAgencyApplication", "Home", routeValues: new { id = userId }, htmlAttributes: new { @class = "white-text" })</li>
                        }
                        if (User.IsInRole("Resident") || User.IsInRole("Agency"))
                        {
                            <li>@Html.ActionLink("My Home", "Index", "Home", null, htmlAttributes: new { @class = "white-text" })</li>
                        }
                        else if (User.IsInRole("Administrator"))
                        {
                            <li>@Html.ActionLink("Dashboard", "Index", "Home", null, htmlAttributes: new { @class = "white-text" })</li>
                        }

                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="navbar-inverse" style="background:#3c3e42">


        <div class="navbar navbar-inverse" style="background:#3c3e42">
            <div class="container">
                <div class="navbar-header">
                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>*@
                    <a href="@Url.Action("HomePage", "Home", new { area = "", id = userId })">
                        <h3 style="font-size: 110%;"><img src="~/Assets/logo.png" title="yep-logo" alt="" />Youth Employment Portal</h3>
                    </a>

                </div>

                <div class="navbar-collapse collapse">
                    <br />
                    <ul class="nav navbar-nav navbar-right">
                        <li><strong>About Us</strong></li>
                        <li>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Contact Us</strong></li>
                    </ul>
                </div>
                <p style="font-size: 100%;">
                    Mission statement goes here or whatever information or details. <br />
                    More Mission statement goes here or whatever information or details.
                </p>
                <br />
                <i class="fab fa-twitter fa-2x"></i>
                <i class="fab fa-instagram fa-2x"></i>
            </div>
        </div>


    </footer>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
