﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" , @class="white-text"})
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="white-text">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li><a class="white-text" href="#">Resources</a></li>*@
        @*<li>@Html.ActionLink("Events", "Index", "Event", null, new { @class = "white-text" })</li>
        <li>@Html.ActionLink("Events", "Index", "Event", null, new { @class = "white-text" })</li>*@
        <li><div class="yep-btn">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</div></li>
        <li><div class="yep-btn">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</div></li>
    </ul>
}
