﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@if (ViewBag.Message == null)
{
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
}
else
{
    <h3>@ViewBag.Message</h3>

}

