﻿@using PluggedInPortal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<br />
<h2>@ViewBag.Title</h2>
<hr />
<h4>Please Enter in your login details.</h4>
<br />
<div class="row">
    <div class="col-md-12 col-lg-offset-2">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal left-align", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-9">
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                        @*<div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>*@
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Submit" class="btn yep-btn" />
                    </div>
                </div>
                <p>
                    @*@Htmxl.ActionLink("Register as a new user", "Register")*@
                </p>

            }
        </section>
    </div>
    @*<div class="col-md-12">
            <section id="socialLoginForm">
                <br />
                <br />
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}