﻿@model PluggedInPortal.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = "Register";
}
<br>
<div>
    <h2>@ViewBag.Title</h2>
</div>

<hr />

<h4 class="h4_subtitle">Create a new account.</h4>
<div class="row">
    <div class="col-md-12 col-lg-offset-2">
        <section id="loginForm">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal left-align", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Select Your User Type", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownList("Name")
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Register" class="btn yep-btn" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
