﻿@model PluggedInDataAccess.Banner

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Banner</h4>
    <hr />
    <div class="form-horizontal">

        <div style="width: 100%;">
            <div style="float: left; width: 40%;">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.BannerImage, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @{
                            if (Model.BannerImage != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.BannerImage);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" height="100" style="width:100%" id="image-preview" />
                            }
                        }
                        @*<input type="file" id="image" name="image" onchange="preview_image(event)" />*@
                        @*@Html.EditorFor(model => model.BannerImage, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.HiddenFor(model => model.BannerImage)
                        @Html.ValidationMessageFor(model => model.BannerImage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div style="float: left; width: 45%;">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="UploadedBy">By</label>
                    @*@Html.LabelFor(model => model.UploadedBy, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.UploadedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @value=User.Identity.Name } })*@
                        <input type="text" readonly="readonly" value="@User.Identity.Name" class="form-control" id="UploadedBy" name="UploadedBy" />
                        @*@Html.ValidationMessageFor(model => model.UploadedBy, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
