﻿@model PluggedInDataAccess.Banner
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Banners", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <br />
        <h3>Edit Banner</h3>
        <hr />
        <br />

        <div style="width: 100%;">
            <div style="float: left; width: 40%;">
                <div class="form-group">
                    @*@Html.LabelFor(model => model.BannerImage, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @{
                            if (Model.BannerImage != null)
                            {
                                string imageBase64 = Convert.ToBase64String(Model.BannerImage);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <img src="@imageSrc" height="100" style="width:100%" id="image-preview" />
                            }
                        }
                        <input type="file" id="image" name="image" onchange="preview_image(event)" />
                        @*@Html.EditorFor(model => model.BannerImage, new { htmlAttributes = new { @class = "form-control" } })*@
                        @Html.HiddenFor(model => model.BannerImage)
                        @Html.ValidationMessageFor(model => model.BannerImage, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div style="float: left; width: 45%;">

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*<div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="container">
                    <div class='col-md-10'>
                        <label for="eventEndDate" style="text-align: center; clear: both; float: left; margin-right: 12%; left:5%; position: relative;">Start Date</label>
                        <div class="form-group">
                            <div class='input-group date' id='startDate'>
                                <input type='datetime' class="form-control" name="StartDate" id="StartDate" value="@Model.StartDate"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />


                    <div class='col-md-10'>
                        <label for="eventEndDate" style="text-align: center; clear: both; float: left; margin-right: 14%; left:5%; position: relative;">End Date</label>
                        <div class="form-group">
                            <div class='input-group date' id='endDate'>
                                <input type='datetime' class="form-control" name="EndDate" id="EndDate" value="@Model.EndDate"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="UploadedBy">By</label>
                    @*@Html.LabelFor(model => model.UploadedBy, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.UploadedBy, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @value=User.Identity.Name } })*@
                        <input type="text" readonly="readonly" value="@User.Identity.Name" class="form-control" id="UploadedBy" name="UploadedBy" />
                        @*@Html.ValidationMessageFor(model => model.UploadedBy, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>

            <div style="float: left; width: 15%;">
                <div class="form-group">

                    <input type="submit" value="Update" class="btn yep-btn" />

                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- Latest compiled and minified CSS --> <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>



<script>


    $(document).ready(function () {
        $(function () {
            $('#startDate').datetimepicker({
                date: new Date("@Model.StartDate")
            });
            $('#endDate').datetimepicker({
                date: new Date("@Model.EndDate"),
                useCurrent: true
            });

           
           
            $("#startDate").on("dp.change", function (e) {
                $('#endDate').data("DateTimePicker").minDate(e.date);
            });
            $("#endDate").on("dp.change", function (e) {
                $('#startDate').data("DateTimePicker").maxDate(e.date);
            });
        });

         

    });

    function preview_image(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('image-preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>