﻿@model IEnumerable<PluggedInDataAccess.Banner>

@{
    ViewBag.Title = "Index";
}
<br />

<link href="~/Content/bootstrap-table.css" rel="stylesheet" />
<div>
    @*@Html.Partial("Create", new PluggedInDataAccess.Banner());*@
</div>
<br />
<br/>
<p>
    @Html.ActionLink("Create New", "Create", routeValues: null, htmlAttributes: new { @class = "yep-btn" })
</p>

<table class="table table-bordered table-hover" id="bannerTable" cellSpacing="0" data-show-toggle="true"
       data-show-columns="true" data-search="true" data-pagination="true" data-filter-control="true">
    <thead>
        <tr>
            <th></th>
            <th data-field="Name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th data-field="StartDate" data-sortable="true">
                Start Date
            </th>
            <th data-field="End Date" data-sortable="true">
                End Date
            </th>
            <th data-field="By" data-sortable="true">
                By
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.BannerImage)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.BannerImage != null)
                        {
                            string imageBase64 = Convert.ToBase64String(item.BannerImage);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                            <img src="@imageSrc" width="100" height="100" />
                        }
                    }
                    @*@Html.DisplayFor(modelItem => item.BannerImage)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => item.UploadedBy)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/bootstrap-table-filter-control.js"></script>
<script>
    $('#bannerTable').bootstrapTable({
    });
</script>